%h2 Add link
%form{:method=>'POST'}
  %label 
    Url:
    %input{:type => 'text', :name => 'url'}
  %label
    Title:
    %input{:type=>'text', :name=>'title'}
  %label
    Body:
    %textarea{:name=>'body'}
  %input{:type=>'submit',:value=>'Submit'}    
