%p Welcome
%a{:href=>"/add"} Add link
- for link in @links
  %div.ui-state-default
    %div
      %form{:method=> "post", :action=> "/vote"}
        %input{:type=> "hidden", :name=> "id", :value=> link.id}
        %input{:type=> "hidden", :name=> "operator", :value=> "+"}
        %input#like{:type=> "submit", :value=> "Like" }
      =  link.votes
      %form{:method=> "post", :action=> "/vote"}
        %input{:type=> "hidden", :name=> "id", :value=> link.id}
        %input{:type=> "hidden", :name=> "operator", :value=> "-"}
        %input#unlike{:type=> "submit", :value=> "Unlike" }
    %div
      %a{:href=>link.url}= link.title
      %image{:src=> "#{get_thumbnail link.url}"}
      = link.body
